extends layout

block header
  header
    button.save-contacts.
      Save

block content
  h2= 'Contacts'

  .content
    #batches
      ul
        each batch in batches
          li(class='batch'
             data-id='#{batch.id}'
             data-date-start='#{batch.start_date}'
             data-date-end='#{batch.end_date}')
            h3= batch.name
            input(type='checkbox'
                  name='people-batch-#{batch.id}'
                  data-id='#{batch.id}')
            .people

block scripts
  script.
    // Top Save button
    $('.save-contacts').on('click', function () {
      var checked = $('input[name^="people-batch-"]:checked');

      if (checked.length) {
        // 1. Get the IDs
        // 2. Send them to an endpoint
        var ids = checked.map(function (checkbox) {
          return trgt.attr('data-id');
        });

        var successFn = function (a, b, c) {
          console.log('save successFn:', a, b, c);
        };
        var failureFn = function () {
          console.log('save failureFn:', a, b, c);
        };

        $.ajax({
          type: 'GET',
          url: '/contacts/save/?ids=' + ids.join(','),
          timeout: 1000,
          success: successFn,
          error: failureFn
        });
      }
    });

    // Batch loading
    document.getElementById('batches').addEventListener('click', function (e) {
      var trgt = $(e.target);

      // If is an input, check what kind of input
      if (trgt.is('input')) {
        // If is a batch input, toogle of the inputs of its people
        if (trgt.attr('name').indexOf('people-batch') > -1) {
          var checkedStatus = trgt.attr('checked');
          $(trgt).parents('.batch').find('.person').forEach(function (item) {
            $(item).find('input').attr('checked', checkedStatus || null);
          });
        }
        return;
      }

      var target = $(e.target).parents('li');
      var people = target.find('.people');

      if (people.find('.person').length > 0) {
        people.toggle();
      } else {
        target.addClass('loading');

        var batchId = target.data('id');
        requestBatch(
          batchId,
          loadBatch.bind(window, $('[data-id="' + batchId + '"] .people')),
          showError
        );
      }
    });

    /**
     * Requests the people in a batch using its ID.
     */
    function requestBatch(id, success, error) {
      $.ajax({
        type: 'GET',
        url: '/contacts/' + id,
        // type of data we are expecting in return:
        dataType: 'html',
        timeout: 1000,
        success: success,
        error: error
      });
    };

    /**
     * Displays the people in a batch.
     */
    function loadBatch(container, batch) {
      console.log('Container:', container);
      $(container).html(batch);
    };

    function showError(err) {

    };
