each person in people
  .person
    .photo
      img(src='#{person.image}')
      input(type='checkbox'
            name='person-#{person.id}')
    .info
      - var middle = person.middle_name ? ' ' + person.middle_name + ' ' : ' ';
      p.name= person.first_name + middle + person.last_name
      if person.phone_number
        p.number= person.phone_number
      if person.email
        p.email= person.email
